@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: Ghastly Panic;
    src: url('../fonts/Ghastly\ Panic.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #2a2036;
    color: #faf3be;
}

/* header and navigation menu */

header {
    margin-bottom: -6rem;
}

.active {
    color: #cc4418;
}

#page-title {
    font-family: Ghastly Panic, sans-serif;
    font-size: 900%;
    color: #cc4418;
    margin: 1.5rem auto auto 3rem;
    position: relative;
    z-index: 2;
}

nav {
    margin: 0 3em auto 90em;
    position: relative;
    bottom: 10em;
    z-index: 2;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.separator {
    margin: 0 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #cc4418;
    text-shadow: #faf3be;
}

/* hero image */

#hero-image {
    width: auto;
    height: 600px;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1.5em 1.5em #181517;
}