@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: Ghastly Panic;
    src: url('../fonts/Ghastly\ Panic.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #2a2036;
    color: #faf3be;
}

/* header and navigation menu */

header {
    margin-bottom: -6rem;
}

.active {
    color: #cc4418;
}

#page-title {
    font-family: Ghastly Panic, sans-serif;
    font-size: 900%;
    color: #cc4418;
    margin: 1.5rem auto auto 6rem;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 6px #cc4418;
}

nav {
    margin: 0 6rem auto 90rem;
    position: relative;
    bottom: 10em;
    z-index: 2;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.separator {
    margin: 0 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #cc4418;
    text-shadow: #faf3be;
}

/* hero image */

#hero-section {
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 0 0 1.5em 1.5em #181517;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    transition: all 9s;
}

#hero-image:hover {
    transform: scale(1.3);
}

/* mid section */

#mid-section-content {
    margin: 6rem;
}

.info-box>h3 {
    font-size: 200%;
    padding-bottom: 1rem;
}

.info-box>p {
    font-size: 150%;
    padding-top: 1rem;
}

h2 {
    font-family: Ghastly Panic, sans-serif;
    font-size: 750%;
    color: #E28653;
    margin: 1rem 15% 1rem 10%;
    text-shadow: 0 0 6px #181517;
}

hr {
    background: url('../images/hr2.png') no-repeat center top;
    display: block;
    margin: -12rem 0 -3rem 0;
    border: 0;
    height: 24rem;
}

div>img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: inline;
    box-shadow: 0 0 1.5em 1.5em #181517;
}

.info-box {
    display: inline-block;
    width: 22%;
}

#content-right {
    text-align: right;
}

.entice {
    font-size: 150%;
    padding: 1rem;
}

.right-image {
    position: relative;
    left: 21rem;
    bottom: 12rem;
}

.center-div {
    position: relative;
    left: 15%;
    bottom: 15rem;
}

.left-div {
    position: relative;
    left: 10%;
    bottom: 15rem;
}

.left-image {
    position: relative;
    right: 21rem;
    bottom: 12rem;
}

.bottom-center-div {
    position: relative;
    right: 10%;
    bottom: 15rem;
}

.bottom-right-div {
    position: relative;
    right: 15%;
    bottom: 15rem;
}

.text-left {
    text-align: left;
}

/* video section */

#halloween-videos {
    text-align: center;
}

.fun-video {
    display: inline-flex;
    margin-top: -21rem;
    padding: 3rem;
    position: relative;
}

.video-header {
    position: absolute;
    z-index: 1;
    top: -0rem;
    color: #cc4418;
}

iframe {
    width: 27rem;
    height: 15rem;
}

/* footer */

footer {
    margin-top: 3rem;
	text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
    color: #E28653;
    font-size: 300%;
}

footer>a {
    padding: 9rem;
}