@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: Ghastly Panic;
    src: url('../fonts/Ghastly\ Panic.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #2a2036;
    color: #faf3be;
}

/* header and navigation menu */

header {
    margin-bottom: -6rem;
}

.active {
    color: #cc4418;
}

#page-title {
    font-family: Ghastly Panic, sans-serif;
    font-size: 900%;
    color: #cc4418;
    margin: 1.5rem auto auto 6rem;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 6px #cc4418;
}

nav {
    margin: 0 6rem auto 90rem;
    position: relative;
    bottom: 10em;
    z-index: 2;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.separator {
    margin: 0 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #cc4418;
    text-shadow: #faf3be;
}

/* hero image */

#hero-section {
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 0 0 1.5em 1.5em #181517;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    transition: all 9s;
}

#hero-image:hover {
    transform: scale(1.3);
}

/* mid section */

div>span {
    display: inline-block;
    width: 33%;
}

.mid-section-content {
    margin: 6rem;
    width: 66%;
}

h2 {
    font-family: Ghastly Panic, sans-serif;
    font-size: 600%;
    color: #cc4418;
    margin-left: 15%;
}