@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: Ghastly Panic;
    src: url('../fonts/Ghastly\ Panic.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #2a2036;
    color: #faf3be;
}

/* page title and navigation menu */

.active {
    color: #cc4418;
}

#page-title {
    font-family: Ghastly Panic, sans-serif;
    font-size: 900%;
    color: #cc4418;
    margin: 1.5rem auto auto 3rem;
}

nav {
    margin: 0 3em auto 90em;
    position: relative;
    bottom: 10em;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.separator {
    margin: 0 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #cc4418;
    text-shadow: #faf3be;
}