@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: "Ghastly Panic";
    src: url('../fonts/Ghastly\ Panic.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #181517;
    color: #faf3be;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* header and navigation menu */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0.5rem 0 0.5rem;
    height: 15vh;
    padding: 1.5em;
    position: relative;
    z-index: 2;
}

.active {
    color: #E28653;
}

#page-title {
    font-family: "Ghastly Panic", sans-serif;
    font-size: 900%;
    color: #cc4418;
    text-shadow: 0 0 6px #2A2036;
    letter-spacing: 6px;
}

nav {
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
}

#menu {
    display: flex;
    list-style-type: none;
    flex: none;
    font-size: 120%;
}

.separator {
    margin: 0 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #cc4418;
}

/* hero image */

#hero-section {
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 0 0 1.5em 1.5em #2A2036;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    transition: all 9s;
}

#hero-image:hover {
    transform: scale(1.3);
}

#cover-text {
    width: 300px;
    height: 300px;
    font-size: 190%;
    font-family: "Ghastly Panic", sans-serif;
    text-align: center;
    letter-spacing: 6px;
    position: absolute;
    left: 60vw;
    bottom: 36vh;
    z-index: 2;
}

/* mid section */

#mid-content {
    display: flex;
    flex: 1;
    justify-content: center;
}

section>h2 {
    font-family: "Ghastly Panic", sans-serif;
    font-size: 500%;
    color: #E28653;
    text-shadow: 0 0 6px #2A2036;
    position: absolute;
    padding: 6rem;
}

#mid-left-header {
    margin-right: 54vw;
}

#mid-right-header {
    margin-left: 54vw;
}

#mid-section-left,
#mid-section-right {
    flex: 0 0 33vw;
    display: inline-flex;
    align-items: center;
    position: relative;
    top: 9em;
    max-width: 30vw;

}

#mid-section-left,
#mid-section-mid,
#mid-section-right {
    margin: 0 auto;
}

#mid-section-left {
    margin-left: 9rem;
}

#mid-section-right {
    margin-right: 9rem;
}

.info-box {
    max-width: 16vw;
}

.info-box>h3 {
    font-size: 200%;
    padding-bottom: 0.5rem;
}

.info-box>p {
    font-size: 130%;
    padding-top: 1rem;
}

p>span {
    font-weight: 600;
}

.entice {
    font-size: 130%;
    padding: 1rem;
}

.text-right {
    text-align: right;
    margin-right: 3rem;
}

div>img {
    width: 18vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 1.5em 1.5em #2A2036;
    margin-top: 6rem;
}

hr {
    background: url('../images/hr2.png') no-repeat center top;
    display: block;
    height: 21rem;
    margin-top: 3rem;
}

/* video section */

#halloween-videos {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem 0 1.5rem;
}

.video-header {
    color: #cc4418;
    text-shadow: 0 0 6px #2A2036;
    text-align: center;
    padding-bottom: 1em;
}

iframe {
    width: 27rem;
    height: 15rem;
    box-shadow: 0 0 1.5em 1.5em #2A2036;
}

/* footer */

footer {
    height: 15vh;
    padding: 1.5rem;
    color: #E28653;
    font-size: 230%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>a {
    padding: 0 9vw 0 9vw;
}

/* costume gallery */

#gallery {
    line-height: 0;
    column-count: 5;
    column-gap: 0;
}

#gallery>img {
    width: 100%;
}

/* sign up page */

input[type="checkbox"]~input,
input[type="checkbox"]~label,
input[type="checkbox"]~ul {
    display: none;
}

input[type="checkbox"]:checked~input,
input[type="checkbox"]:checked~label {
    display: flex;
}

input[type="checkbox"]:checked~ul {
    display: flex;
    flex-direction: column;
}

#form-section {
    background: url('../images/form-bg.jpg') no-repeat center center;
    width: 100%;
    height: 900px;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

legend {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#trick-form,
#home-form {
    width: 42vw;
    background-color: rgba(24, 21, 23, 0.6);
    font-weight: 600;
    font-size: 130%;
    padding-top: 3rem;
}

.text-input {
    background-color: rgba(42, 32, 54, 0.3);
    border: 1.5px solid #2a2036;
    border-radius: 3%;
    color: #faf3be;
    font-size: inherit;
}

.form-layout li,
#radio-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-layout>li>label {
    flex: 1 0 120px;
    max-width: 220px;
    padding: 9px;
    text-transform: capitalize;
    text-align: left;
}

.text-input:hover,
select:hover,
#housenumber:hover {
    border-color: #E28653;
}

select,
#housenumber {
    background-color: rgba(42, 32, 54, 0.3);
    color: #faf3be;
    font-size: inherit;
    border: 1.5px solid #2a2036;
    border-radius: 3%;
}

#radio-buttons {
    justify-content: center;
    padding: 9px;
}

#right-button {
    justify-content: end;
    margin-right: 3rem;
}

.join-button {
    height: auto;
    width: auto;
    font-weight: inherit;
    padding: 1rem;
    border: 1.5px solid #E28653;
    border-radius: 13%;
    background-color: #2a2036;
    color: #E28653;
    box-shadow: 0 0 6px #181517;
    margin: 3rem;
}

.join-button:hover {
    border-color: #181517;
    color: #181517;
    background-color: #E28653;
    box-shadow: 0 0 6px #faf3be;
}

/* media queries */

/* for larger screens size from 1500px wide and down */

@media screen and (max-width:1500px) {

    #mid-content {
        display: flex;
        flex-direction: column;
    }

    section>h2 {
        position: relative;
        padding: 6rem 0 0 0;
    }

    #mid-section-left,
    #mid-section-right {
        margin: -12em 30vw 0 9vw;
    }

    #mid-right-header {
        margin: -24rem 30vw 0 9vw;
    }

    #mid-left-header {
        margin: 0 30vw 0 9vw;
    }

    #mid-section-mid {
        margin: -12rem 30vw 0 63vw;
    }

    div>img {
        width: 27vw;
        height: auto;
    }

    .info-box {
        min-width: fit-content;
    }

    .text-right {
        text-align: left;
    }

    #gallery {
        column-count: 4;
    }

}

/* for medium to larger screens size from 1350px wide and down */

@media screen and (max-width:1350px) {

    #halloween-videos {
        flex-direction: column;
        margin: 0 auto;
    }

    .video-header {
        margin-top: 1.5rem;
    }

}

/* for medium screens size from 1150px wide and down */

@media screen and (max-width:1150px) {


    #mid-left-header,
    #mid-right-header,
    #mid-section-left,
    #mid-section-mid,
    #mid-section-right {
        text-align: center;
        padding: 1.5rem;
        min-width: 66vw;
    }

    #mid-left-header,
    #mid-right-header,
    #mid-section-mid {
        margin: 0 auto;
    }

    #mid-section-left,
    #mid-section-right {
        margin: -12rem 0 6rem 0;
    }

    #gallery {
        column-count: 3;
    }

}

/* for small screens size from 800px wide and down */

@media screen and (max-width:800px) {

    header {
        flex-direction: column;
    }

    #menu {
        margin-top: -1.5rem;
    }

    .menu-contrast {
        color: #2a2036;
    }

    .active {
        text-decoration: underline #faf3be;
    }

    #cover-text {
        left: 0;
    }


    body {
        font-size: 14px;
    }

    #mid-section-left,
    #mid-section-right {
        flex-direction: column;
        margin: 0 auto;
    }

    #mid-left-header,
    #mid-right-header {
        margin-bottom: -9rem;
    }

    #mid-section-mid {
        margin-top: 1.5rem;
    }

    .text-right {
        text-align: center;
    }

    #form-section {
        flex-direction: column;
    }

    #trick-form,
    #home-form {
        width: 60vw;
    }

    #gallery {
        column-count: 2;
    }
}

/* for small screens size from 450px wide and down */

@media screen and (max-width:450px) {

    html {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    header {
        padding: 1vh 1vw;
    }

    #page-title {
        font-size: 660%;
    }

    #menu {
        font-size: 90%;
        margin-top: 0;
    }

    .separator {
        margin: 0 0.5em;
    }

    #cover-text {
        position: relative;
        bottom: 48vh;
    }

    .info-box {
        padding: 1.5rem;
        min-width: 99vw;
    }

    .text-right {
        margin-left: 1.5rem;
    }

    .info-box>h3 {
        font-size: 150%;
    }

    .info-box>p {
        font-size: 110%;
    }

    #trick-form,
    #home-form {
        width: 90vw;
    }

    iframe {
        width: auto;
        height: auto;
    }
}